*{
    font-family: rockwell;
}
html{
    height: 100%;
}

body {
    height: 100%;
    /*
    background-image: url(../img/sitio/textura.jpg);
    
    
    background-image: url("https://www.colourbox.com/preview/4559885-symmetrical-fire-halftone-vector-background-with-black-copy-space.jpg");
    */
    
    background-image: url("http://vectorandpsd.com/vectorandpsd/background/blue-poly-background.jpg");
    
    background-repeat: repeat;
    background-attachment: fixed;
    
   
}

.container{
    min-height: 100%;
    margin: 100px auto -100px;
}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: black;
    color: white;
 }
 
 .modal-body {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #383030;
    color: white;
 }


 footer, .push{
     height: 150px;
 }

 
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: center;
	padding: 50px 60px;
	margin-bottom: 0px;
	overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}




table{
    border-radius: 10px;
    border: none;
}

#tablaClientes, #tablaProveedores, #recursosObtenidos, #recursosPublicados{
    background-color: white;
    opacity: 0.7;
    border: none;
    
}

.panel{
    background-color: #ffffff;
    opacity: 0.9;
}

.panel-heading{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.panel-heading:hover{
    overflow: visible;
}

.panel-body{
    background-color: #ffffff;
    opacity: 0.8;
}

img{
    opacity: 1;
}

.btn-success{
    background-color: #0000cc !important;
}


@media (max-width: 1000px) {

	.footer-distributed form input{
		width: 300px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
		text-align: center;
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		margin-top: 10px;
		font-size: 12px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 20px;
	}

	.footer-distributed form input{
		width: 100%;
	}

}
